doctype html
html
  head
    title Main
    meta(charset='utf-8')
    style.
        body{
            margin:0;
        }

        h1 {
            font-size:45px;
            text-align: center;
            border-bottom:1px solid gray;
            margin:0;
            padding:40px;
        }
        ul{
            border-right:1px solid gray;
            width:100px;
            margin:0;
            padding:20px;
        }
        #grid{
            display: grid;
            grid-template-columns: 150px 1fr;
        }
        #grid ul{
            padding-left:33px;
        }
        #grid #article{
            padding-left:25px;
        }
        @media(max-width:800px){
            #grid{
            display: block;
            }
            ol{
            border-right:none;
            }
            h1 {
            border-bottom:none;
            }
        }
        .button1{
          float:left;
          padding-top:30px;
          padding-left:30px;
          
        } 
        .button2{
          float:left;
          padding-top:30px;
           

        }
        .button3{
          float:left;
          padding-top:30px;

        }
    link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet' href='/resources/demos/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
        //siteinfo(각 사이트들)클릭시 ajax 비동기 통신 "/main/site/" + $(this).attr("data-text") == /main/site/:name에서
        //GET방식으로 접근 후에 로부터 값을 받아온다
        $(document).ready(function(){
            $(".siteinfo").on("click", function(){
                $.ajax({
                    url : "/main/site/" + $(this).attr("data-text"),
                    type : "GET",
                    dataType : "JSON",
                    success:function(data){
                        $("#name").text(data.name)
                        $("#information").text(data.information)
                        $("#manager").text(data.manager)
                        $("#channel").text(data.channel)
                        $("#configtype").text(data.configtype)
                        $("#project_term1").text(data.project_term1)
                        $("#project_term2").text(data.project_term2)
                        $("#install_day").text(data.install_day)
                        $("#test_term1").text(data.test_term1)
                        $("#test_term2").text(data.test_term2)
                        $("#open_day").text(data.open_day)
                        
                    }

                })
            });
        })
            
  body
    div(class="button1" align="left")   
      button(onclick="location.href='/main/create'") 추가
    div(class="button2" align="left")   
      form(class="form1" action='/main/site/update/'+`${name}` method='post')
        input(type="submit" value="수정")        
    div(class="button3" align="left")          
      form(class="form1" method="post" action='/main/site/delete/'+`${name}`)
        input( type="submit" value="삭제")
      button(onclick="location.href='/main/ajax/create'") 추가2
    h1

    #grid
      ul
        -for(var i=0; i<Site.length; i++)
            li(data-text=Site[i] class="siteinfo")= Site[i]       
      #article
        h3 사이트
          h4 -사이트 이름 : 
            span(id="name")
          h4 -사이트 설명 : 
            span(id="information")
          h4 -사이트 담당자 : 
            span(id="manager")
          h4 -채널 수 :
            span(id="channel")
          h4 -구성타입 :
            span(id="configtype")
          h4 -기간 
          h4 -프로젝트 기간 : 
            span(id="project_term1")
            span ~
            span(id="project_term2")
          h4 -설치일 : #{install_day}
            span(id="install_day")
          h4 -테스트기간 : 
            span(id="test_term1") 
            span ~
            span(id="test_term2")
          h4 -오픈일 : #{open_day}
            span(id="open_day")
